@use "../variables" as *;

.board {
  padding: 20px;

  .board-title {
    margin: 0 0 30px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: 0.4s;
  }

  .board-title:hover {
    color: $white-custome;
  }

  .board-title-input {
    padding: 0;
    margin: 0 0 30px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    background: inherit;
    width: fit-content;
    border: none;
    outline: none;
  }

  .board-lists {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
  }
}