@use "../variables" as *;

.list {
    background: $second-color;
    min-width: 300px;
    padding: 20px;
    border-radius: $radius-custome;
    display: flex;
    flex-direction: column;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    .list-title-input {
        width: 100%;
        padding: 0 10px;
        margin: 0 0 15px;
        font-size: 1.25rem;
        font-weight: 600;
        color: $black-custome;
        background: inherit;
        width: fit-content;
        border: none;
        outline: none;
    }

    .list-title {
        width: 100%;
        padding: 0 10px;
        margin: 0 0 15px;
        font-size: 1.25rem;
        font-weight: 600;
        color: $black-custome;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
            color: $first-color;
        }

    }


    .list-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow-y: auto;
        padding-right: 4px;
    }

    .add-card {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        input {
            padding: 10px;
            border-radius: $radius-custome;
            border: none;
            outline: none;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            width: 70%;
            padding: 10px;
            border: none;
            border-radius: $radius-custome;
            background: $first-color;
            color: $white-custome;
            cursor: pointer;
            transition: 0.2s ease;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    button {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 15px;
        padding: 10px;
        border: none;
        border-radius: $radius-custome;
        background: darkred;
        color: $white-custome;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}